<p  style="text-align: center">Fake Song Titles</p>


<div class='about'>
<p>
This site was inspired by a comment from <a href="http://www.bbc.co.uk/programmes/b0072l9v">Gideon Coe</a>
on one of his excellent shows on <a href="http://www.bbc.co.uk/6music/">BBC Radio 6 Music</a> in November 2011. 
</p>
<p>
	He was playing tracks by <a href="http://www.beefheart.com/">Captain Beefheart</a> 
	<a href="http://en.wikipedia.org/wiki/Captain_Beefheart">(Don Van Vliet)</a> who always 
	chose creative, seemingly nonsensical, 
	titles for his songs. Gideon commented that if there was not already a fake Captain Beefheart 
	song title generator on the Internet, then there should be.</p>
<p>Well, there wasn't... so now there is</p>

<p>&nbsp;</p>

</div>


<div class='about'>
<p>
	If you are curious about the software behind this site you can find it at 
	<a href="https://github.com/craic/fake_song_titles">GitHub</a>. It is written in Ruby as a Sinatra app and
	is hosted on <a href="http://heroku.com">Heroku</a>. The code is freely available so go ahead and clone it if
	you feel so inclined.
</p>

<p>
The generation algorithm is extremely simple. Verbs, adjectives and nouns were extracted from lists of
real Captain Beefheart song titles and then I added other words that seemed appropriate - as well as few that
are totally unrelated and that were added just for fun.	
</p>

<p>
	Many of the real song titles follow simple patterns - two nouns, an adjective and a noun, etc. The code
	picks words at random from the lists and joins them according to the patterns. Most of them
	are nonsense but some would make pretty good Beefheart titles.
</p>

<p>
	The approach might also be applied to other artists - The Fall, Mogwai and Underworld are three that
	come to mind right away. I shall investigate.
</p>

<p>&nbsp;</p>
<p>I'm not sure of the source for the Captain Beefheart photograph that I'm using. It has the 
	look of an Anton Corijn image - let me know if you know - or if you want it taken down...
</p>


<p>&nbsp;</p>

<p>
The code was written by Rob Jones in Seattle, WA - who should now really get back to more meaningful work...
</p>

</div>