<p  style="text-align: center">Song titles that might have been written by Captain Beefheart - but weren't</p>

<p  style="text-align: center"><img src="images/beefheart.jpg" 
	title="Photo of Beefheart - unknown origin - possibly Anton Corbijn?"
	alt="Photo of Beefheart - unknown origin - possibly Anton Corbijn?"
	></p>

<div class='titles-div'>
<% @titles.each do |title| %>
	<p><%= title %></p>
<% end %>

<p><a href="/" style="text-decoration: none">more...</a></p>
</div>